.navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    border-bottom-width: 2px ;
    border-bottom-style: solid;
    justify-content: space-between;
    
}

.navbar h1{

    margin-left: 4%;
    font-weight: 700;
    font-size: 20px;
}


.navbar button{
    margin-right: 4%;
    background-color: transparent;
    border: 0ch;
    cursor: pointer;
    font-size: 16px;
}

.light{
    border-bottom-color: hsl(0, 0%, 98%);
    box-shadow: 3px 3px whitesmoke;
    
}

.dark{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 98%);
}


