.countries{
    width: 95vw;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.countries div{
    width: 14.5%;
    margin: 5%;
    border-width: 2px;
    border-style: solid;
}
.countries img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.light{
    border-color: #fff;
    box-shadow: 5px 5px whitesmoke;
}

.dark{
    background-color:  hsl(200, 15%, 8%);
    color: #fff;
    width: 100vw;
    margin-left: 0%;
}

.darkContainer{
    border: 2px solid hsl(200, 15%, 8%);
    box-shadow: 3px 2px black;
}



/* ---------------mobiles------------ */
@media screen and (max-width:450px) {
    .countries{
        flex-direction: column;
        width: 100vw;

    }
    .countries div{
        margin-top: 2rem;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        border: 1xp solid blue;
        
    }
    
    .countries img{
        width: 100%;
        height: 80%;
    }
}


/*--------------  Tablets  --------- */
@media screen and (min-width:450px) and (max-width:1023px) {
    .countries div{
        width: 35%;
        margin-left: 4rem;
    }
}